.advantages {
  background-color: @light-gray;
}

.advantages__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.advantages_tagline {
  margin: 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;

  color: @black;
}

.advantages__description {
  margin: 0;
}
