.application {
  background-color: @gray;
}

.application__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 120, 120, 0.7);
}

.application__tagline {
  margin: 0;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;

  color: @white;
}

.application__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.application__link {
  text-decoration: none;
}

.application__footnote {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  color: @white;
}
