.comment {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
    border: 2px solid @border-gray;
    border-radius: 1px;
  }

  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}

.comment__legend {
  padding: 0;
  padding-right: 31px;
  padding-left: 31px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @red;
}

.comment__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: @gray;
  width: 100%;
  min-height: 197px;
  padding: 23px 20px;
  box-sizing: border-box;
  border: 2px solid @border-gray;
  border-radius: 1px;
}
