.comment {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @border-gray;
    border-radius: 1px;
  }

  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}

.comment__legend {
  padding: 0;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @red;
}

.comment__text {
  font-size: 18px;
  line-height: 30px;
  color: @gray;
  width: 100%;
  min-height: 197px;
  padding: 23px 20px;
  box-sizing: border-box;
}
