.comment {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
    border: 2px solid @border-gray;
    border-radius: 3px;
  }
}

.comment__legend {
  padding: 0;
  padding-right: 31px;
  padding-left: 31px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @red;
}

.comment__text {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  margin-top: 17px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 30px;
  color: @gray;
  width: 100%;
  min-height: 197px;
  padding: 13px 20px;
  box-sizing: border-box;
  border: 2px solid @border-gray;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    margin-top: 35px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    min-height: 124px;
  }

  &:hover {
    border: 2px solid @gray;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
    border: 2px solid @red;
  }
}
