.form-contact {
  border: none;
  padding: 0;
  margin: 0;


  @media (min-width: @tablet-width) {
    border: 2px solid @border-gray;
    border-radius: 3px;
  }
}

.form-contact__legend {
  padding: 0;
  padding-right: 31px;
  padding-left: 31px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @red;

  &--mobile {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}


.form-contact__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    padding-right: 59px;
    padding-left: 59px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.form-contact__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 1px;
      width: 60px;
      height: 61px;
      background-color: @border-gray;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
    }

    &--phone::after {
      background-image: url("../img/icon-phone.svg");
    }

    &--email::after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  @media (min-width: @desktop-width) {
    width: 375px;
  }
}

.form-contact__label {
  line-height: 30px;
  text-transform: uppercase;
  color: @red;

  padding-left: 23px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    order: 2;
    padding-left: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 12px;
    padding-bottom: 0;
  }
}

.form-contact__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 62px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid @border-gray;
  border-radius: 3px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;

  &::-webkit-input-placeholder {
    color: @gray;
  }

  &:hover {
    border: 2px solid @gray;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
    border: 2px solid @red;
  }
}
