.name__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.name__item {
  display: flex;
  flex-direction: column;
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-top: 56px;
  }

  &:first-of-type {
    padding-top: 0;
  }
}

.name__label {
  padding-bottom: 7px;
  line-height: 30px;
  text-transform: uppercase;
  color: @red;

  @media (min-width: @tablet-width) {
    padding-right: 18px;
    padding-bottom: 0;
  }
}

.name__input {
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 63px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @border-gray;
  border-radius: 1px;

  &::-webkit-input-placeholder {
    color: @gray;
  }
}
