.page-header {
  background-color: @gray;
}

.page-header__wrapper {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
}

.page-header__logo {
  padding-left: 20px;
  width: 74px;
  height: 23px;
}

.page-header__title {
  margin: 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @white;
}

.page-header__title-wrapper {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}
