.photo {

}

.photo__link img {
  margin: 0;

  text-decoration: none;
}

.photo__name-user {
  margin: 0;

  font-size: 14px;
  font-weight: 700;
}

.photo__data-comment {
  margin: 0;

  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo__comment {
  margin: 0;
}


.photo__like-text,
.photo__like-number {
  margin: 0;

  font-size: 12px;
  text-transform: uppercase;

  color: @red;
}
