.photo-block {
}

.photo-block__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.photo-block__title {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
  background-color: @gray;
}


.photo-block__promo {
  margin: 0;
  line-height: 30px;
}

.photo-block__item {

}
