.photo__link {
  width: 280px;
  display: block;
  text-decoration: none;

  &--top {
    width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.photo__name-user {
  margin: 0;

  font-size: 14px;
  font-weight: 700;
}

.photo__data-comment {
  margin: 0;

  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo__comment {
  margin: 0;
}

.photo__like-text,
.photo__like-number {
  margin: 0;

  font-size: 12px;
  text-transform: uppercase;

  color: @red;
}
