.radio {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @border-gray;
    border-radius: 1px;
  }

  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
}

.radio__legend {
  padding: 0;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @red;
}

.radio__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.radio__label {
  font-size: 18px;
  line-height: 30px;
}
