.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 640px;
    /*outline-offset: -5px;
    outline: 5px solid rgba(255, 0, 255, 0.7);*/
  }
}

.site-list__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid @black;
  text-decoration: none;
  color: white;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  background-color: @gray;

  @media (min-width: @desktop-width) {
    padding-top: 48px;
    padding-bottom: 49px;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.site-list__item {
  @media (min-width: @desktop-width) {
    padding-left: 79px;

    &:first-child {
      padding-left: 0;
    }
  }
}
