.user-form__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 660px;
    padding: 0 20px;
  }


  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    padding: 0 10px;
  }
}

.user-form__footnote {
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &--star {
    color: @red;
  }
}

.user-form__name {
  order: 1;

  @media (min-width: @desktop-width) {
    width: 435px;
  }
}

.user-form__achievements {
  order: 2;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    order: 4;
    width: 100%;
    background-color: @white;
  }
}


.user-form__contacts {
  order: 3;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}


.user-form__applications {
  order: 4;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
  }
}

.user-form__comment {
  order: 5;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.user-form__submit {
  display: flex;
  flex-direction: column;
  order: 6;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.user-form__wrapper__container {
  @media (max-width: @only-mobile-width) {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.user-form__button {
  height: 59px;
  width: 100%;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: @white;
  background: @green;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @dark-green;
  }

  &:active {
    background-color: @dark-green;
    color: fade(@white, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 296px;
  }
}
