.user-form__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 660px;
    padding: 0 20px;
  }


  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    padding: 0 10px;
  }
}

.user-form__footnote {
  display: block;
  padding-top: 35px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  &--star {
    color: @red;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.user-form__name {
  order: 1;
  margin-bottom: 67px;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
    margin-top: 62px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    margin-top: 73px;
  }
}

.user-form__achievements {
  order: 2;
  padding-top: 39px;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    order: 4;
    width: 100%;
    background-color: @white;
  }
}


.user-form__contacts {
  padding-top: 31px;
  padding-bottom: 24px;
  order: 3;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 59px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 14px;
    padding-bottom: 15px;
  }
}


.user-form__applications {
  padding-top: 39px;
  order: 4;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: @white;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    padding-top: 72px;
  }
}

.user-form__comment {
  padding-top: 38px;
  order: 5;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    padding-bottom: 65px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
    padding-bottom: 63px;
  }
}

.user-form__submit {
  display: flex;
  flex-direction: column;
  order: 6;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.user-form__wrapper__container {
  @media (max-width: @only-mobile-width) {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.user-form__button {
  height: 63px;
  width: 100%;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: @white;
  background: @green;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @dark-green;
  }

  &:active {
    background-color: @dark-green;
    color: fade(@white, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}
